# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Accidental local downloads in portfolio public assets
artifacts/portfolio/public/*.exe
artifacts/portfolio/public/*.jar
artifacts/portfolio/public/scoped_dir*/
artifacts/portfolio/public/28f7eb17-f437-48fb-8d88-e4437d60836e.jpg
artifacts/portfolio/public/vanilla-1-4-1-cobblemon-tier-list-v0-2i4rhamubpec1.png
artifacts/portfolio/public/LUSPO_SC_AI Use Declaration Form.pdf
artifacts/portfolio/public/RE.PARITY_THESIS.pdf
artifacts/portfolio/public/REAL_PARITY_THESIS.pdf

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/
